body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(../images/background_image.png);
}
.modal {
  width: fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px #14a800;
  border:solid 0.1px #14a800;
  border-radius: 26px;
  max-width: 450px;
  padding: 51px;
}
.modal:hover{
  box-shadow: 0px 0px 40px #14a800;
  padding: 52px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.password_field{
  font-size:0px;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: flex;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}


.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

