
.pet-card {
	display:flex;
	align-items:center;
	gap:100px;
  border: 3px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  margin: 10px;
  padding: 10px;
  width: 800px;
  text-decoration: none;
  transition: var(--tran-05);
  background-color: var(--sidebar-color);
}
.petCard_anchor{
  text-decoration: none;
  width: 800px;
}
.no_item_bought{
  position: relative;
  margin-left: 80px;
  font-size: 80px;
  transition: var(--tran-05);
  color:var(--text-color);
}
.pet_div{
	display:flex;
	align-items:center;
	gap:20px;
}
.pet-card img {

  margin: 0 auto;
	height:100px;
  width: 100px;
	border-radius:500px;

}

.pet-card h2 {
  font-size: 1.5em;
  margin-top: 10px;
  text-align: center;
  transition: var(--tran-05);
  color:var(--text-color);
}

.pet-card p {
  color:var(--text-color);
  transition: var(--tran-05);
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0;
  text-align: center;
}

.pet-card p:first-child {
  font-weight: bold;
}

.pet-card p:nth-child(2) {
  color:var(--text-color);
  transition: var(--tran-05);
  font-weight: bold;
}
.buy_div{
  /* width: 250px;
  height: 250px; */
  background-color: var(--body-color);
  display:flex;
  flex-direction: column;
  align-items:center;
  gap:20px;
  justify-content:center;
  border-radius:10px;

}
.buy_btn{
  text-decoration: none;
  outline: none;
  border:none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #00e6e6;
  cursor: pointer;
  transition: all 0.3s ease;
}