body {
    background-color: rgba(255, 255, 255, 0.432);
    margin: 100px 600px;
}

  .login-form{
      display: flex;
      flex-direction: column;
      width:505px;
      height:420px;
      background-color: aliceblue;
      border-radius: 10px;
      justify-content: center;
  }
  .email,.password{
      padding:10px;
      font-size: 20px;
      width:440px;
      height:40px ;
      margin: 0px 20px 20px 20px;
      border-radius: 5px;
  }
  .login{
      background-color: #1877f2;
      color:white;
      padding:10px;
      font-size: 20px;
      width:460px;
      height:40px ;
      margin: 20px 20px 0px 20px;
      border: none;
      border-radius: 4px;
  }
  .forget{
      text-align: center;
      margin: 20px 0px;
      text-decoration: none;
      color:#1877f2;
  }
  .create{
      background-color: #42b72a;
      color:white;
      padding:10px;
      font-size: 20px;
      width:350px;
      height:40px ;
      margin: 20px 20px 0px 80px;
      border: none;
      border-radius: 4px;
      align-content: center;
  }
  @media screen and (max-width:500px){
    body{
        margin:0px;
        margin-top: 150px;
    }

  }